# MongoDB Connection
MONGODB_URI=mongodb+srv://basselbizri_db_user:PASSWORD_HERE@cluster0.majgmas.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=justhelplebanon

# Environment
NODE_ENV=development
PORT=3000

# AWS S3 / R2
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
R2_BUCKET_NAME=your_bucket_here
R2_ACCOUNT_ID=your_account_id_here
R2_TOKEN_ID=your_token_id_here
R2_TOKEN_SECRET=your_token_secret_here
R2_URL_BASE=your_url_base_here
